@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

:root {
  --first-color: #fff4e7;
  --second-color: #ff900e;
  --dark-color: #131313;
  --dark-color-2: #727272;
  --dark-color-3:#424242;
}

/* style header part  */
header {
  padding-top: 20px;
  width: 100%;
  height: 1350px;
  background-color: var(--first-color);
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-text a {
  text-decoration: none;
  color: var(--dark-color);
  font-weight: 700;
  font-size: 45px;
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  padding: 2rem;
}
nav ul li a {
  text-transform: capitalize;
  text-decoration: none;
  color: var(--dark-color-3);
  font-weight: 500;
  font-size: 18px;
}

.brand {
  margin: 0 auto;
  width: 862px;
  height: 230px;
  margin-top: 205px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  text-align: center;
}
.brand h1 {
  font-weight: 700;
  font-size: 64px;
}
.brand p {
  font-weight: 400;
  font-size: 16px;
  color: var(--dark-color-2);
}

#btn {
  margin-top: 30px;
  padding: 1rem 2rem;
  border: 0;
  background-color: var(--second-color);
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 70px;
}

#bannerImage {
  width: 1230px;
  height: 700px;
  margin: 80px 220px;
}

/* quick list style  */
.quick_list {
  width: 1230px;
  display: flex;

  margin-top: 100px;
  padding: 50px;
}

.img_lists {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  padding-left: 200px;
}

.img_lists img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.list_txt {
  width: 537px;
  height: 288px;
  margin-top: 220px;
  padding-left: 90px;
  
}
.list_txt h1 {
  width: 468px;
  height: 106px;
  font-weight: 500;
  font-size: 45px;
}
.list_txt p {
  font-weight: 400;
  font-size: 16px;
  color: var(--dark-color-2);
}
.quick {
  font-weight: 400;
  color: var(--dark-color-2);
}
.feature-span {
  font-weight: 700;
  color: var(--second-color);
}


/* style feature section  */
.feature-section{
    width: 1230px;
  height: 700px;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 70px;
  margin: 0 auto;
  margin-bottom: 400px;
  padding: 50px;

}

.left-divs{
    margin-top: 550px;
    padding: 40px;
    width: 615px;
height: 983px;
}
.left-divs h1{
    font-weight: 700;
font-size: 45px;
color: var(--dark-color);
margin-bottom: 25px;
}
.left-divs p{
    font-weight: 400;
font-size: 16px;
color: var(--dark-color-2);
margin-bottom: 60px;
}
.left-divs div{
    width: 586px;
height: 100px;
margin-bottom: 20px;
    padding: 1.2rem;
    box-shadow: 1px 1px 2px 2px #ddd;
}
.left-divs div > h4 {
    margin-bottom: 10px;
    font-weight: 600;
font-size: 20px;
}
.img-div{
    margin-top: 500px;
    width: 615px;
height: 1020px;
padding-left: 0px;
position: relative;
}
.img-div img{
  width: 550px;
  height: 840px;
}
.year{
    width: 170px;
height: 80px;
text-align: center;
padding: 24px;
color: #fff;
background-color: var(--second-color);
position: absolute;
top: 3090px;
left: 900px;
border-radius: 5px;
}
.year h1{
    font-weight: 700;
font-size: 40px;
}

/* facts section style  */
.fact-section{
  width: 1230px;
    height: 500px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  margin: 3rem auto;
  margin-bottom: 150px;  
}
.fact-section h1{
  font-weight: 700;
font-size: 45px;
  text-align: left;
  color: var(--dark-color);
  margin-bottom: 24px;
  /* text-align: center; */
  /* padding-left: 20px; */
}
.fact-section p{
  width: 542px;
height: 52px;
  font-weight: 400;
font-size: 16px;
/* text-align: left; */
color: var(--dark-color-2);

}
.facts{
  display: flex;
  gap: 130px;
  /* padding: 10%; */
}
.facts-div{
  margin-top: 100px;
  padding: 20px;
  /* text-align: center; */
  width: 180px;
height: 140px;
display: flex;
gap: 10px;
flex-direction: column;
justify-content: center;
align-items: center;
border: 1px solid var(--second-color);
border-radius: 5px;
transition: all 500ms ease-in-out;
}
.facts-div:hover{
  box-shadow: 0px 8px 15px;
  border-width: 5px;
}
.facts-div img{
  width: 30px;
height: 30px;
}
.facts-div h1{
  font-weight: 600;
font-size: 40px;
color: var(--dark-color-3);
}
.facts-div p{
  text-align: center;
  font-weight: 600;
font-size: 15px;
color: var(--dark-color-2);
}


/* new section style  */
.new-section{
   width: 100%;
  height: 400px;
 display: flex; 
 flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 200px;
}
.team-info{
  text-align: center;
}
.team-info h1{
  font-weight: 700;
font-size: 45px;
color: var(--dark-color);
  margin-bottom: 20px;
}
.team-info p{
  width: 542px;
  height: 52px;
  font-weight: 400;
color: var(--dark-color-2);
font-size: 16px;

}

.team-div img{
  /* margin: 0 auto; */
  width: 100%;
  height: 400px;
/* height: 50px; */
}


/* style sponsor section  */
.sponsor-section{
  /* width: 1230px;
  height: 400px;
  margin: 0 auto;
  text-align: center;*/
 display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 100px;
}
.sponsor-section h1{
  font-weight: 700;
font-size: 45px;
color: var(--dark-color);
}
.sponsor-section p{
  width: 542px;
height: 52px;
font-weight: 400;
color: var(--dark-color-2);
font-size: 16px;
text-align: center;
}
.company-div{
display: flex;
justify-content: space-between;
gap: 100px;
}

.company-div img{
  width: 100%;
height: 50px;
}


/* footer style  */
footer{
  width: 80%;
  height: 100px;
  background-color: var(--first-color);
  margin:0 auto 120px auto;
  border-radius: 10px;
}
footer>p{
  height: 100px;
 display: flex;
 justify-content: center;
 align-items: center;
 font-weight: 400;
font-size: 20px;
color: var(--dark-color-3);

}
.hide{
  display: none;
}


/* Responsive code  */
/* for mobile  */
@media screen and (max-width: 576px) {
  nav,
  ul,
  .quick_list {
    flex-direction: column;
  }
  .brand {
    margin-top: 8rem;
    width: 100%;
  }
  .brand h1 {
    font-size: 2.5rem;
  }
  .brand p {
    padding: 1rem;
  }
  #bannerImage {
    width: 100%;
    margin: 5.5rem 0;
  }

  .img_lists {
    margin-top: 100px;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    padding: 0px;
  }
  .list_txt {
    width: 100%;
    padding: 0;
    margin-top: 90px;
  }
  .list_txt h1 {
    width: 210px;
    font-size: 2rem;
  }
  
  .feature-section{
    margin-left: 0;
    flex-direction: column;
    padding: 20px;
  }
  .left-divs{
    width: 0%;
    height: 250px;
    margin: 0 auto;
    margin-left: 0;
    margin-top: 100%;
    padding: 7px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  .left-divs h1{
    font-size: 2rem;
  }
  .left-divs div{
    width: 250px;
    height: 170px;
  }
  .img-div{
    width: 100%;
  }
  .img-div img{
    width: 50%;
    margin-top: 70%;
    margin-left: 0px;
  }
  .year{
    position: absolute;
top: 6000px;
left: 0;

  }
  .fact-section{
    width: 100%;
    margin-top: 100px;
    padding: 0;
  }
  .fact-section h1{
    text-align: center;
padding: 20px;
  }
  .fact-section p{
    width: 100%;
    /* padding: 20px; */
    text-align: center;
  }
  .facts{
    gap: 20px;
    flex-direction: column;
  }
  .facts-div{
    width: 100%;
  }

}


